# rust artifacts
target

# Nix stuffs to ignore
.direnv
result
repl-result-out

# std artifacts
.data
.local
.cache

# dev artifacts that might be private and not yet available for publicity
# NOTE: any mention of `.dev` must be optional. Tests with .dev
# must be able to fail.
.dev
